* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/736x/8e/a5/78/8ea5787786b1fef1e4db38663020912d.jpg);
    background-size: cover;
  }
  
  .login-box h2 {
    color: white;
  }
  
  .login-box p {
    color: white;
  }
  
  .glass-container {
    width: 350px;
    height: 350px;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #fff;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px; 
  }
  
  input {
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
  }
  
  input::placeholder {
    color: #fff;
  }
  
  input:focus {
    outline: none;
  }
  
  .options {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 12px;
    color: white;
  }
  
  .options input {
    margin-right: 5px;
    margin-top: 0px;
  }
  
  .options a {
    text-decoration: none;
    color: white;
    margin-left: auto;
  }
  
  button {
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .login-box p a {
    color: white; 
    text-decoration: underline; 
    margin-left: 5px; 
    cursor: pointer; 
  }
  
  .login-box p a:hover {
    color: lightgray; 
  }
  
  